body {
  font-family: sans-serif;
  text-align: center;
}

/* Main Container */
.container {
  width: 275px;
  border: 1px solid #EEF0F5;
  margin: 0 auto;
}

.title {
  padding-bottom: 3%;
  border-bottom: 1px solid #EEF0F5;
  font-weight: 600;
}

/* Timer */
h2 {
  font-size: 3.75rem;
  font-weight: 300;
  margin-top: 0;
}

#currentLap {
  text-align: right;
  padding: 0 9%;
}

#currentLap p {
  margin: 0;
}

/* Controls */
.controls {
  display: flex;
  justify-content: center;
  margin: 0;
  background-color: #EEF0F5;
  padding: 5%;
}
button {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 2px solid;
  background-color: white;
  margin: 5% 10%;
  font-size: 0.8rem;
}

button:focus {
  outline: none;
}

#left {
  color: #00B16A;
}

#right {
  color: #FF0001;
}
